@import url('https://fonts.googleapis.com/css2?family=Roboto');

/* 1. base */
html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    /* Prevent font size inflation */
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    --alice-blue: #edf5fcff;
    --emerald: #23ce6bff;
    --aureolin: #f0e100ff;
    --celestial-blue: #1e91d6ff;
    --oxford-blue: #101935ff;
}

* {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

body {
    background-color: var(--alice-blue);
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 0;
}


/* 2. shared */
header,
main,
footer {
    width: 100%;
}

header>*,
main>*,
footer>* {
    margin: 0 auto;
    max-width: 62rem;
    padding: 0 2rem;
    width: 100%;
}

.skills-section h2,
.portfolio-section h2,
.contact-form h2 {
    padding-bottom: 1.5rem;
}

/* 3. specific */
body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--oxford-blue);
    color: var(--alice-blue);
    height: 4rem;
    position: fixed;
}

nav {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: var(--alice-blue);
}

.nav-link.active {
    color: #00ff00;
}

main {
    align-items: center;
    display: flex;
    flex: content;
    /* skip navi */
    margin-top: 4rem;
    padding: 1rem 0;
}

footer {
    background-color: #101935ff;
    color: var(--alice-blue);
    text-align: center;
    padding: 20px;
    position: static;
}

.divider {
    width: 120px;
    height: 2px;
    background-color: #F0E100;
    margin: 30px auto;
}

/* 3.1 specific: profile */

.profile-section {
    align-items: center;
    display: flex;
    gap: 6rem;
    justify-content: center;
}

.profile-pic {
    align-content: center;
    border-radius: 50%;
    display: flex;
    flex: none;
    height: 20rem;
    justify-content: center;
    overflow: hidden;
    width: 20rem;
}

.profile-pic>img {
    height: 100%;
}

.profile-text-job {
    text-transform: uppercase;
}


/* 3.2 specific: skills */

.skills-section {}


/* 3.3 specific: portfolio */

.portfolio-section {}

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.post {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.post img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


/* 3.4 specific: contact */

.contact-form {
    width: 100%;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* resize: none; */
}

.contact-form textarea {
    height: 8rem;
}

button {
    background-color: #101935ff;
    color: #edf5fcff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}


@media (max-width: 768px) {
    .profile-section {
        flex-direction: column;
    }

    .profile-pic {
        max-width: 16rem;
        max-height: 16rem;
    }
}