body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    margin: 0;
    padding: 0;
    background-color: #edf5fcff;
}

header {
    background-color: #101935ff;
    color: #edf5fcff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #edf5fcff;
    display: flex;
    align-items: center;
}

nav a span {
    display: none;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

main {
    padding: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex: 1;
}

h1, p {
    color: #101935ff;
}

form {
    padding: 20px;
    padding-left: 0;
    max-width: 800px;
    width: 100%;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

button {
    background-color: #101935ff;
    color: #edf5fcff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #101935ff;
    color: #edf5fcff;
    text-align: center;
    padding: 20px;
    position: static;
}

.nav-link.active {
    color: #00ff00; 
}

#message {
    height: 80px;
}

@media (max-width: 768px) {
    nav .nav-link {
        margin: 0; 
        padding: 0 5px;
    }
}