body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    background-color: #edf5fcff;
}

header {
    background-color: #101935ff;
    color: #edf5fcff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #edf5fcff;
    display: flex;
    align-items: center;
}

nav a span {
    display: none;
}

.nav-link.active {
    color: #00ff00;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    padding: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.skills-section {
    max-width: 800px;
    width: 100%;
    text-align: left;
}

.skills-section h2,
.skills-section p {
    color: #101935ff;
    margin-bottom: 20px;
}

.skills-section ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #101935ff;
    color: #edf5fcff;
    text-align: center;
    padding: 20px;
    position: static;
}

footer p {
    margin: 0;
}

@media (max-width: 768px) {
    nav .nav-link {
        margin: 0;
        padding: 0 5px;
    }

    main {
        align-items: start;
    }
}
